* {
	margin: 0px;
	padding: 0px;
}
#discount-timer {
	border: 2px dashed red;
	width: 500px;
	height: 100px;
	margin: auto;
	padding: 20px;
}

#endDateAndTime, #periodLeft {
	font-size: 26px;
	color: red;
}

#periodLeft {
	margin-top: 20px;
}